* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.clarks-wrapper {
  background-color: #000000;
  font-family: Georgia, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
}

h3 {
  color: #000;
  font-size: 1.9rem;
}

p {
  color: #000;
  font-size: 1rem;
}

section {
  width: 90%;
  padding: 4rem 1rem;
}

.clarks-inner {
  max-width: 1200px;
  margin: 0 auto;
}

/* Hero Section */
.clarks-hero {
  background-image: url("../assets/81DB57CF-DCE8-4DBB-AE7D-423C86D133E7_1_105_c.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.clarks-hero h1 {
  font-size: 3rem;
  margin: 1rem 0;
  color: white;
}

.clarks-hero h2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: white;
}

button {
  background-color: black;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

button:hover {
  background-color: #333;
}

/* About Section */
.clarks-about {
  background-color: #e89a32;
  color: white;
}

.clarks-about .clarks-inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.clarks-about img {
  max-width: 60%;
}

/* Offers */
.clarks-offers {
  background-color: #2252cd;
  color: white;
  text-align: center;
}

.clarks-offer-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.clarks-offer-item {
  max-width: 250px;
}

.clarks-img-box {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.clarks-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive Grid */
@media (min-width: 768px) {
  .clarks-offer-grid {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .clarks-about .clarks-inner {
    flex-direction: row;
    text-align: left;
  }
}

/* Recipe Club */
.clarks-recipe-club {
  background-color: #6e7d38;
  color: white;
  text-align: center;
}

/* Services */
.clarks-services {
  background-color: #e89a32;
  color: white;
  text-align: center;
}

/* Meal Prep / Retreat */
.clarks-meal-retreat {
  background-color: #2252cd;
  color: white;
  text-align: center;
}

.clarks-service-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.clarks-service-card {
  color: #000;
  border-radius: 1rem;
  padding: 2rem;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Footer Text  */
.footer-text {
  color: white;
}

@media (min-width: 768px) {
  .clarks-service-grid {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .clarks-service-card {
    flex: 1;
    max-width: 48%;
  }
}
